# Dev Tools
.vscode/

#Environment Variables
.env

# Too big
data/
dbt/target/
dbt/dbt_modules/
dbt/logs/

# Environments
.venv/

# type checking support files
.mypy_cache/

# Dev Misc
notebooks/.ipynb_checkpoints
src/__pycache__/
.DS_Store

