# Dev Tools
.vscode/
notebooks

#Environment Variables
.env

# Too big
data/

# DBT
dbt/dbt_modules/
dbt/logs/
dbt/target

# Environments
.venv/

# type checking support files
.mypy_cache/

# Dev Misc
notebooks/.ipynb_checkpoints
src/__pycache__/
.DS_Store

# DBT user files
.user.yml

